* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
    overflow-y: none;
}

#body {
    
}

#header-logo {
	height: 185px;
}

#logo {
	width: 350px;
	display: block;
	margin: 0 auto;
	margin-top: 40px;
}

#banner1 {
	height: 300px;
	background-image: url(Images/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
    width: 100%;
}

#info {
    width: 100%;
    border-bottom: 1px solid lightgray;
}

#info-content {
    width: 60%;
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    margin-bottom: 50px;
    line-height: 28px;
}

#info-content h1 {
    text-align: center;
    margin-top: 5px;
	font-weight: 300;
}

#info-content p {
    margin-top: 10px;
}

#producten {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.content {
	width: 80%;
	display: block;
	margin: 0 auto;	
	color: #333;
	padding-bottom: 100px;
	padding-top: 50px;
}

.content h1 {
	text-align: center;
	font-weight: 300;
}


.product {
    display: inline-block;
    margin: 1%;
    width: 30%;
}

#product-info img {
    transition: 1s;
}

#product-info img:hover {
    transform: scale(1.2);
}

.container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

#allproducts {
    display: flex;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 40px;
    margin-top: 40px;
}


#product-foto img {
    width: 350px;
}

#product-beschrijving {
    width: 350px;
    display: block;
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
}


.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: yellow;
    color: black;
    font-size: 16px;
    padding: 16px;
    transition: .5s;
}

.text:hover {
    background-color: gold;
    transition: .5s;
}

#contact {
    width: 100%;
    background-color: lightgray;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact-content {
    width: 60%;
    display: block;
    margin:  0 auto;
}

#contact h1 {
	text-align: center;
	font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}

#contact-form {
    width: 100%;
    display: inline-block;
    height: auto;
}

#contact-form h1 {
	text-align: center;
	font-weight: 300;
}

#contact-gegevens {
    width: 100%;
    display: inline-block;
    float: right;
    background-color: lightgray;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: yellow;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: gold;
}

.form {
    border-radius: 5px;
    padding: 20px;
    padding-top: 0;
}

.product-info {
    width: 100%;
    display: block;
    margin: 0 auto;
    
}

footer {
    height: 150px;
    background-color: #333;
}

#footer-content {
    width: 60%;
    margin: 0 auto;
    display: block;
    color: white;
    padding-top: 30px;
}

table {
    width: 100%;
}

@media screen and (max-width: 650px) {
    #contact-content {
        width: 80%;

    }
    
    .product {
        width: 100%;   
        margin-top: 30px;
    }
    
    #info-content {
        width: 80%;
    }
    
    #adres {
        float: right;
        margin-top: 10px;
    }
    
    #allproducts {
        width: 80%;
        display: block;
        margin-bottom: 100px;
    }
    
    #product-foto img {
        width: 200px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
}

@media screen and (max-width: 800px) {
    
    #product-foto img {
        width: 300px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
}